.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.information{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
input{
  width: 300px;
  height: 50px;
  font-size: 20px;
  padding-left: 18px;
  margin: 5px;
}
button{
  width: 150px;
  height: 40px;
  margin-top: 15px;
}
button:hover{
  cursor: progress;
}
.employees{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}

.employee{
  width: 700px;
  height: 220;
  background-color: cadetblue;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  padding: 10px;
}

.employee h3{
  margin: 20px;
}
